body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #111;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #ff4d00;
}

h1 {
    margin: 0;
}

button {
    padding: 10px 15px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.food-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    padding: 40px;
}

.food-card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.food-card:hover {
    transform: scale(1.05);
}

.food-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
}

.modal-content {
    background: #222;
    padding: 30px;
    width: 400px;
    margin: 100px auto;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}